<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/resource/clear-sky.png">
    <title>Weather | Home</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <form>
        <input type="text" id="place" placeholder="Location">
        <button type="submit">Search</button>
    </form>
    <h3>Forecast - </h3>
    <p id="forecast">{{forecastMessage}}</p>
    </div>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>
</html>